<?xml version="1.0"?>
<configuration>
  <configSections />
  <appSettings />
  <connectionStrings />
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>


    <!--
<configuration>
  <configSections/>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    
            Définissez compilation debug="true" pour insérer des symboles 
            de débogage dans la page compilée. Comme ceci 
            affecte les performances, définissez cette valeur à true uniquement 
            lors du développement.
            
            ?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <configSections />

  <appSettings />

  <connectionStrings />

  <system.web.extensions>

    <scripting>

      <webServices>

        <jsonSerialization maxJsonLength="2147483647"/>

      </webServices>

    </scripting>

  </system.web.extensions>

  <system.web>


        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            La section <authentication> permet la configuration 
            du mode d'authentification de sécurité utilisé par 
            ASP.NET pour identifier un utilisateur entrant. 
        -->
    <authentication mode="Windows"/>
    <!--
            La section <customErrors> permet de configurer 
            les actions à exécuter si/quand une erreur non gérée se produit 
            lors de l'exécution d'une demande. Plus précisément, 
            elle permet aux développeurs de configurer les pages d'erreur html 
            pour qu'elles s'affichent à la place d'une trace de la pile d'erreur.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>